<div >
    <h1>
        Inscription
    </h1>
    <form name="regitser" method="POST" action="">
        <table>
            <tr>
                <td>Disquette</td>
                <td><input type="text" name="disquette"></td>
            </tr>
            <tr>
                <td>Tags: </td>
                <td>
                    <select class="tag" multiple="multiple" name="tag" style="width: 100%;">
                <option selected="selected">sexe</option>
                <option >film</option>
                <option >manga</option>
              </select>
                </td>
            </tr>
            <tr>
                <td>Langue: </td>
                <td>
                    <select class="lang" name="lang" style="width: 100%;">
                <option selected="selected" value="FR">Francais</option>
                <option value="EN">Anglais</option>
              </select>
                </td>
            </tr>
            <tr>
                <td>Autheur</td>
                <td><input type="text" name="author" placeholder="Laisser vide pour t'assigner en autheur!"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>

</div>
<script>
    $(".tag").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })
    $(".lang").select2({
        minimumResultsForSearch: Infinity,
        selectOnClose: true
    })
</script>