@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
:root {
    --primary-text-color: whitesmoke;
    --select-background-color: darkgray;
    --background-color: #374151;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Mulish, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 8rem;
}