<section class="header">
    <div class="left">
        <span> <%= page %></span>
    </div>
    <div class="middle"></div>
    <div class="right">
        <span> <%= user.username %> </span>
        <img src="<%= user.profil_url %>">
        <a href="/auth/logout">Logout</a>
    </div>
</section>