<section class="side-bar">

    <img class="logo" src="https://via.placeholder.com/350x150">

    <a href="overview">
    <div class="tab <% if (page === 'overview') { %>current <% } %>">
        <svg xmlns=" http://www.w3.org/2000/svg " class="svg " viewBox="0 0 20 20 " fill="currentColor ">
            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z " />
            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z " />
        </svg> <span class="text ">Accueil</span>
    </div>
</a>

    <a href="submit">
    <div class="tab <% if (page === 'submit') { %>current <% } %>">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </svg> <span class="text ">Ajouter</span>
    </div>
</a>

    <a href="list">
    <div class="tab <% if (page === 'list') { %>current <% } %>">

        <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z" />
          </svg>
        </svg> <span class="text ">Liste</span>

    </div>
    </a>

    <a href="waiting">
    <div class="tab <% if (page === 'waiting') { %>current <% } %>">

        <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
          </svg>
        </svg> <span class="text ">En attente</span>
    </div>
</a>

    <%
    if (locals.user.roles.admin) { %>
        <div>ADMIN: EN ATTENTE</div>
        <div>ADMIN: COMPTES</div>
        <% } %>

</section>