header {

    padding: 1rem 2rem;
    position: fixed;

    z-index: 5;

    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: space-between;

}

header > div {

    display: flex;

}

.submit {

    width: 40px;
    margin-right: 1.5rem;
    stroke: rgb(202, 202, 202);

    cursor: pointer;
}

.profile {

    display: flex;
    align-items: center;

    cursor: pointer;
}

.profile > img {

    border-radius: 100px;
    width: 40px
}